.reset-password {
  flex: 4;
}

.progress-bar100 .MuiLinearProgress-barColorPrimary {
  background-color: red !important;
}

.progress-bar75 .MuiLinearProgress-barColorPrimary {
  background-color: orange !important;
}

.progress-bar50 .MuiLinearProgress-barColorPrimary {
  background-color: yellow !important;
}

.progress-bar25 .MuiLinearProgress-barColorPrimary {
  background-color: rgb(0, 255, 0) !important;
}
